body {
    font-family: 'inter';
}
.header {
    max-width: 1301px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0;
    margin-bottom: 40px;
}
.navigation_list {
    display: flex;
    list-style: none;
}
.navigation_item {
    margin-left: 34px;
}
.navigation_list:first-child {
    margin-right: 0px;
}
.navigation_link {
    color: #B8BECD;;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.home {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #202336;
}
.login {
    border: 1px solid #FB8F1D;
    text-decoration: none;
    border-radius: 8px;
    width: 132px;
    height: 44px;
    color: #FB8F1D;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    background: white;
    margin-left: 34px;
}
.account {
    display: flex;
}
.register {
    border: 1px solid #FB8F1D;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    width: 132px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    background: #FB8F1D;
    color: white;
}
 .block {
     display: flex;
     justify-content: space-between;
 }
 .heading {
    max-width: 1242x;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 103px;
 }
 .heading_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
}
.heading_description {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
}
.heading_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 187px;
    height: 52px;
    max-width: 100%;
    background: #FB8F1D;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 60px;  
    color: #FFFFFF;  
    text-decoration: none;
    transform: all .3s ease-in-out ;
    margin-top: 33px;
}
.heading_btn:hover {
    transform: translateY(-10px) scale(1.05);
}
.introduction {
    max-width: 1301px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 103px;
}
.introduction_description {
    max-width: 450px;
}
.introduction_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}
.introduction_description {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 39px;
}
.guides {
    max-width: 1180px;
}
.guides_title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}
.guides_description {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
    max-width: 450px;
    margin: 0;
}
.testimonials {
    max-width: 1071px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    
}
.testimonials_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 145px;
}
.testimonials_rate {
    display: flex;
    margin-bottom: 30px;
}
.testimonials_description {
    max-width: 450px;
    margin-bottom: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
.testimonials_autor {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
}
.testimonials_position {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 242px;

} 
.testimonials_img {
    width: 384px;
    height: 491px;
    left: 933px;
    top: 3538px;
    padding-top: 40px;
}
.destinations_wrapper {
    display: flex;
    justify-content: center;
}
.destinations {
    width: 100%;
    max-width: 1180px;
}
.destinations_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.destinations_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
}
.view {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
    cursor: pointer;
}
.destinations_img {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 237px ;
    padding-top: 15px;
}
.dest_img1 {
    position: relative;
}
.dest_text {
    position: absolute;
    background-color: white;
    bottom: 0px;
    padding-right: 15px;
    /* width: fit-content; */
    border-radius: 3px;
}
span{
    color: #7D8A88;
}
.trending_body {
    display: flex;
    justify-content: space-between;
}

.trending_img {
    position: relative;
    margin-bottom: 362px;

}

.trend_text {
    position: absolute;
    background: white;
    top: 231px;
    width: 100%;
    height: 250px;
    font-family: Inter;
    font-style: normal;
    font-size: 19px;
    line-height: 30px;
}
.trend {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}
.read {
    display: block;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    margin-bottom: 362px;
}
.lists {
    display: flex;
    margin: 0 auto;
    margin-top: 70px;
    width: 1200px;
}
.footer  {
    max-width: 1600px;
    height: 482px;
    background-color: #F9F9FB;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
ul {
    margin-right: 50px;
    list-style-type: none;
}
.first {
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
    margin-bottom: 15px;
}
.title_list {
    color:black;
    margin-bottom: 25px;
}
.second {
    margin-bottom: 60px;
}
.line {
    min-width: 1040px;
    min-height: 0.6px;
    background: #C4C4C4;
    margin-right: 70px;
}
.footer_links {
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}